.site-navbar {
  margin-bottom: 0px;
  position: relative;
  width: 100%;
  padding: 1rem;
}
.site-navbar .site-logo {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  display: inline-block;
  text-decoration: none;
}
.item {
  max-width: 200px;
  flex-wrap: wrap;
  margin-right: 20px;
  justify-content: center;
}
img {
  max-width: 100%;
}
